<div class="text-center">

  <form class="form-signin">
    <img src=".\assets\corinthians.png" title="Vai Corinthians" />

    <h1 class="h4 mb-3 login">Login</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>

    <input type="email"
           id="inputEmail"
           name="email"
           placeholder="Informe o seu e-mail"
           class="form-control mb-3"
           [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid
           }"
           [(ngModel)]="usuario.email"
           #email="ngModel"
           email
           required/>

    <div class="invalid-feedback mb-3" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        E-mail não preenchido.
      </div>
      <div *ngIf="email.errors.email">
        E-mail não está no formato correto.
      </div>
    </div>

    <label for="inputSenha" class="sr-only"></label>

    <input type="password"
           id="inputSenha"
           name="senha"
           placeholder="Senha"
           class="form-control mb-3"
           [ngClass]="{
            'is-invalid': senha.invalid && (senha.dirty || senha.touched),
           'is-valid': senha.valid
           }"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required/>
    <div class="invalid-feedback mb-3" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser informada.
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="entrar()" [disabled]="ativa_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativa_spinner"> </span>      
      Entrar
    </button>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{ mensagem }}
    </div>

  </form>
</div>
